.project:hover {
    position: relative;
    cursor: pointer;
    background-color: hwb(214 9% 89% / 0.58);
    margin-top:50px;
    transform: scale(1.3);
}

.project {
    margin-top:20px;
    width: 220px;
    height:320px;
    border: solid;
    border-radius: 30px;
    border-width: 5px;
    border-color: #191d1d;
    font-size: 12px;
}

.project img {
    height: 150px;
    width: 110px;

}
.project h3, p {
   
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: white;
}

.project p { 
    margin: 10px;
}

.project p a {
    text-decoration: none;
}

.project-tiles {
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}



.App-header-projects {
    text-decoration: none;
  color: white;
   
}